page-filtre {


  .toolbar-ios .segment-ios,
  .toolbar-md .segment-md {
    background: rgb(226, 222, 222);
  }

  .segment-ios .segment-button,
  .segment-md .segment-button {
    border: none;
    color: black
  }

  .segment-ios .segment-button.segment-activated,
  .segment-md .segment-button.segment-activated {
    background: rgb(226, 222, 222);
    color: $gold;
    border-bottom: 2px solid $gold;
  }

  .segment-ios .segment-button,
  .segment-md .segment-button {
    border-radius: 0px !important;
  }
}
