<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon class="icon_menu" name="menu"></ion-icon>
        </button>
        <img *ngIf="!isSeachBarOpened" class="img_logo" src="./../../../assets/imgs/logo.png" alt="">
        <ion-searchbar *ngIf="isSeachBarOpened" showCancelButton="true" (ionCancel)="isSeachBarOpened=false"></ion-searchbar>
        <ion-buttons end>
            <button ion-button icon-only *ngIf="!isSeachBarOpened" (tap)="isSeachBarOpened=true">
                <ion-icon class="icon_menu" name="search"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item class="sub_header">wazaaaaaaaaaaaaa</ion-item>

    <!--        START INPUT-->
    <div id="tabs">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
        <label (tap)="showLog()" for="tab-1" class="tab"> SE CONNECTER </label>
        <input id="tab-2" type="radio" name="tab" class="sign-up">
        <label (tap)="showSign()" for="tab-2" class="tab"> S&#39;INSCRIRE </label>
    </div>



    <!--        CONTENT TEST-->
    <div id="form_wrapper">
        <div id="login" #login class="login">
            <input id="log_email" placeholder="Email" autocapitalize=off [(ngModel)]="log_email" name="log_email" type="text" class="input">

            <input id="log_pass" placeholder="Mot de passe" autocapitalize=off [(ngModel)]="log_pass" name="log_pass" type="password" class="input">

            <div id="log_checkbox" class="checkbox">
                <input id="log_check" type="checkbox" checked>
                <label for="log_check"></label>
            </div>


            <button id="se_co">SE CONNECTER</button>
            <button id="facebook">FACEBOOK</button>
            <a href="#">Mot de passe oublié ?</a>
        </div>

        <div id="sign_in" class="sign_in is-hidden">
            <input id="sign_name" placeholder="Nom d'utilisateur" autocapitalize=off [(ngModel)]="sign_name" name="sign_name" type="text" class="input">

            <input id="sign_name" placeholder="Nom d'utilisateur" autocapitalize=off [(ngModel)]="sign_name" name="sign_name" type="text" class="input">

            <input id="sign_name" placeholder="Nom d'utilisateur" autocapitalize=off [(ngModel)]="sign_name" name="sign_name" type="text" class="input">
        </div>

    </div>


</ion-content>
