// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$gold:#b1912e;
$grey: rgb(235, 229, 229);

.label-ios,
.label-md {
  font-size: 20px;
}

.closeMenu {
  margin-left: 5%;
  color: black;
  font-size: 60px;
}

.icon-ios,
.icon-md {
  color: black
}

.round {
  margin-right: 15px;
  font-size: 30px;
}

//REMOVE MENU BORDER 
.list-ios>.item-block:last-child {
  border: 0;
}

.list-ios>.item-block {
  border-top: 0 !important;
}

.list-ios .item-block .item-inner {
  border: 0;
}

////////////////

.item-ios[detail-push] .item-inner,
button.item-ios:not([detail-none]) .item-inner,
a.item-ios:not([detail-none]) .item-inner {
  background: none;
  margin-left: 7%
}

//////////////////////Style logos start//////////////////////
.footer {
  height: 20%;
}

.toolbar-content {
  height: 100%;
}

.toolbar {
  height: 100%;
}

ion-grid.grid {
  height: 100%;
}

.media-icons {
  height: 100%;

  ion-row {
    height: 50%;
  }

  ion-col {
    ion-icon {
      background: $gold;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: white;
      line-height: 30px;
    }
  }
}
